server {
	client_max_body_size 1000000

	listen 127.0.0.1:1208

	server_name localhost

	error_page 403 www/error_page_403.html
	error_page 500 www/error_page_500.html

	location / {
		root /home/ade-garr/42/github/webserv/www
		disable_methods GET
		autoindex on
		error_page 404 documentation
		upload_pass /
		cgi_ext .php 
		cgi_dir /home/bin/php-cgi
		index index.html
	}
}



